<section *ngIf="step1" class="w-50 mx-auto bg-main-light p-3 rounded shadow">
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <label for="email">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-control"
      id="email"
    />
    <div
      *ngIf="
        forgotForm.get('email')?.errors && forgotForm.get('email')?.touched
      "
      class="alert alert-danger p-1 w-50 mx-auto small"
    >
      <p class="mb-0" *ngIf="forgotForm.get('email')?.getError('required')">
        Email Is Required
      </p>
      <p class="mb-0" *ngIf="forgotForm.get('email')?.getError('email')">
        Email Is Invalid
      </p>
    </div>
    <button class="w-100 main-btn mt-3">Forgot Password</button>
    <p
      *ngIf="userMsg"
      class="alert alert-warning p-1 mb-0 w-75 mx-auto mt-3 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
</section>
<section *ngIf="step2" class="w-50 mx-auto bg-main-light p-3 rounded shadow">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetCode">Reset Code</label>
    <input
      formControlName="resetCode"
      type="resetCode"
      class="form-control"
      id="resetCode"
    />
    <button class="w-100 main-btn mt-3">Reset Code</button>
    <p
      *ngIf="userMsg"
      class="alert alert-warning p-1 mb-0 w-75 mx-auto mt-3 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
</section>
<section *ngIf="step3" class="w-50 mx-auto bg-main-light p-3 rounded shadow">
  <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
    <label for="newPassword">Reset Password</label>
    <input
      formControlName="newPassword"
      type="newPassword"
      class="form-control"
      id="newPassword"
    />
    <div
      *ngIf="
        resetPassword.get('password')?.errors &&
        resetPassword.get('password')?.touched
      "
      class="alert alert-danger p-1 w-50 mx-auto small"
    >
      <p
        class="mb-0"
        *ngIf="resetPassword.get('password')?.getError('required')"
      >
        Password Is Required
      </p>
      <p
        class="mb-0"
        *ngIf="resetPassword.get('password')?.getError('pattern')"
      >
        Password Invalid Formate
      </p>
    </div>
    <button class="w-100 main-btn mt-3">Reset Password</button>
    <p
      *ngIf="userMsg"
      class="alert alert-warning p-1 mb-0 w-75 mx-auto mt-3 text-center"
    >
      {{ userMsg }}
    </p>
  </form>
</section>
