.products{
    position: relative;
    overflow: hidden;
    &:hover{

        .main-btn{
            transform: translateY(0);
            opacity: 1;
        }
    }

    .main-btn{
        transform: translateY(150%);
        opacity: 0;
        transition: 0.7s;
    }


    &:hover{
        .heart{
            right: 5px;
        }
    }

    .heart{
        position: absolute;
        font-size: 40px;
        top: 5px;
        right: -50px;
        z-index: 99;
        cursor: pointer;
        transition: right 0.7s;
        }
}